@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



@import "tailwindcss";

/* -----------------------------------
   FONTS
------------------------------------ */

@font-face {
   font-family: "Lemon Milk";
   src:
      url("/fonts/lemon-milk/LEMONMILK-Regular.otf") format("otf");
   font-display: swap;
}




/* -----------------------------------
   Theme customization
------------------------------------ */

@theme {
   --font-body: "Roboto", sans-serif;
   --font-display: "Lemon Milk", sans-serif;
   --font-brand: "Lemon Milk", sans-serif;
   --font-heading: "Roboto Slab", sans-serif;
}



/* -----------------------------------
   Your custom layers
------------------------------------ */

/* Base styles */
@import "./base/typography.css";
@import "./base/layout.css";

/* Components */
@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/forms.css";
@import "./components/links.css";
@import "./components/nav.css";
@import "./components/prose-content.css";






[x-cloak] { 
   display: none !important;
}