/* =========================================
   BUTTON BASE STYLES
========================================= */

.btn {

}

/* =========================================
   PRIMARY BUTTON
========================================= */

.btn-primary {

}

/* =========================================
   SECONDARY BUTTON
========================================= */

.btn-secondary {
    @apply 
        from-slate-500 to-zinc-400
        border-slate-400
        hover:from-slate-600 hover:to-zinc-500
    ;
}

/* =========================================
   DANGER BUTTON
========================================= */

.btn-danger {

}

/* =========================================
   SUCCESS BUTTON
========================================= */

.btn-success {
    @apply 
        from-green-600 to-lime-500
        border-green-500
        hover:from-green-700 hover:to-lime-600
    ;
}

/* =========================================
   WARNING BUTTON
========================================= */

.btn-warning {
    @apply 
        from-amber-600 to-yellow-500
        border-amber-500
        hover:from-amber-700 hover:to-yellow-600
    ;
}

/* =========================================
   GHOST BUTTON
========================================= */

.btn-ghost {
    @apply 
        bg-none
        border-indigo-400
        text-indigo-500
    ;
}






/* =========================================
   BUTTON SIZE VARIENTS
========================================= */


/* Extra small button */

.btn-xs {
    @apply 
        px-2 py-0.5
        text-xs
    ;
}


/* Small button */

.btn-sm {
    @apply 
        px-3 py-1
        text-sm
    ;
}


/* Medium button */

.btn-md {

}


/* Large button */

.btn-lg {
    @apply 
        px-9 py-3
        text-lg
    ;
}


/* Extra large button */

.btn-xl {
    @apply 
        px-12 py-4
        text-xl
    ;
}




/* =========================================
   DISABLED STATE
========================================= */

.btn:disabled,
.btn[disabled] {
    @apply opacity-50 cursor-not-allowed pointer-events-none;
}